@import '~assets/styles/variables';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .heading {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    width: 100%;
    padding: 0 36px;
    box-sizing: border-box;
    align-items: flex-start;

    div {
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      margin-bottom: 24px;
      color: $gray-dark;
    }

    .address {
      width: 100%;
      height: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $white;
      border: 1px solid $gray-200;
      box-sizing: border-box;
      border-radius: 6px;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.03em;
      color: $gray-dark;
      cursor: pointer;
      user-select: none;
      transition: all 0.3s;

      &.copied {
        background: $purple-medium;
        color: $purple;
        border: 1px solid $purple;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    padding: 0 36px;
    box-sizing: border-box;
    width: 100%;

    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: $gray-dark;

    & > span {
      margin: 16px 0;
    }

    .privKey {
      background: $white;
      border: 1px solid $gray-200;
      box-sizing: border-box;
      border-radius: 6px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 72px;
      word-break: break-all;
      padding: 0 20px;
      text-align: center;
      font-weight: 500;
      font-size: 12px;
      line-height: 24px;
      letter-spacing: 0.03em;
      transition: all 0.3s;
      cursor: pointer;
      user-select: none;

      &.notAllowed {
        cursor: no-drop;
      }

      &.copied {
        cursor: initial;
        background: $purple-medium;
        color: $purple;
        border: 1px solid $purple;
      }
    }

    .input {
      border: 1px solid $gray-200 !important;
    }
  }
}
