@import '~assets/styles/variables';

.fullselect {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: 60px;
  transition: all 300ms;
  cursor: pointer;

  .selected {
    width: 100%;
    height: 36px;
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .arrow {
      position: absolute;
      right: 36px;
      width: 24px;
      transition: all 0.3s;
      transform: rotateZ(0deg);
    }
  }

  ul.options {
    margin: 0;
    padding: 0;
    list-style: none;
    transition: all 300ms;
    transform: scaleY(0);
    transform-origin: top;
    position: absolute;
    width: 100%;
    top: 60px;
    background: rgba($white, 0.8);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid $gray-dark;
    overflow: auto;
    max-height: 150px;
    z-index: 1;

    li {
      width: 100%;
      height: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 300ms;

      &:hover {
        background: $gray-light;
      }
    }
  }

  &.expanded {
    ul.options {
      transform: scaleY(1);
    }

    .arrow {
      transform: rotateZ(180deg);
    }
  }
}
