@import '~assets/styles/variables';

body {
  .button {
    padding: 8px 40px;
    font-family: $roboto;
    font-weight: $medium;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-transform: none;
    border-radius: 20px;
    line-height: 20px;
    // box-shadow: $shadow-btn;

    :global .MuiButton-label {
      display: flex;
      flex-direction: column;

      & > img {
        margin-bottom: 15px;
      }
    }

    .spinner {
      width: 20px !important;
      height: 20px !important;
      margin-right: 10px;
      color: $navy;

      svg {
        width: 20px;
        height: 20px;
      }
    }

    &.loading {
      color: $gray-100;
      background: $navy;

      :global .MuiButton-label {
        display: flex;
        flex-direction: row;
      }
    }

    &.primary {
      background: $navy;
      color: $white;

      &:hover {
        background: $navy;
        color: $white;
      }
    }

    &.secondary {
      background: $navy-light;
      color: $navy;

      &:hover {
        background: $navy-light;
        color: $navy;
      }
    }

    &.btn-outline-primary {
      border: 1px solid $gold;
      border-radius: 73px;
      color: $gold;

      &:hover {
        background: $gold;
        color: $white;
      }
    }

    &.block {
      font-size: 20px;
      line-height: 24px;
      font-weight: $medium;
    }

    &.disabled {
      color: $gray-100;
      background: $gray-light;
    }
  }
}
