@import '~assets/styles/variables';

body {
  .button {
    font-family: $roboto;
    font-weight: $medium;
    font-size: 16px;
    text-transform: none;
    letter-spacing: 0.03em;
    line-height: 20px;

    padding: .5rem 3rem;
    border-radius: 20px;
    cursor: pointer;

    :global .MuiButton-label {
      display: flex;
      flex-direction: column;

      & > img {
        margin-bottom: 15px;
      }
    }

    .spinner {
      width: 20px !important;
      height: 20px !important;
      margin-right: 10px;
      color: $navy;

      svg {
        width: 20px;
        height: 20px;
      }
    }

    &.loading {
      color: $gray-100;
      background: $navy;

      :global .MuiButton-label {
        display: flex;
        flex-direction: row;
      }
    }

    &.primary {
      background: $navy;
      color: $white;

      &:hover {
        background: $navy;
        color: $white;
      }
    }

    &.secondary {
      background: $navy-light;
      color: $navy;

      &:hover {
        background: $navy-light;
        color: $navy;
      }
    }

    // Primary button.
    &.btn-gradient-primary {
      color: $royalBlue;
      border: solid 3px transparent;
      border-radius: 100rem;
      background-image: 
        linear-gradient(
          rgba(255, 255, 255, 0), 
          rgba(255, 255, 255, 0)), 
          linear-gradient(
            30deg, 
            $deepPink 20%, 
            $royalBlue 50%
          );
      background-origin: border-box;
      background-clip: content-box, border-box;
      box-shadow: 2px 1000px 1px $navy inset;

      &:hover {
        box-shadow: none;
        color: white;
      }

      &:active {
        transform: scale(0.95);
      }
    }
    
    // Outline buttons
    &.btn-outline-primary {
      color: #4CA1CF;
      border: solid 1px transparent;
      border-radius: 100rem;
      background-image: 
        linear-gradient(
          rgba(255, 255, 255, 0), 
          rgba(255, 255, 255, 0)), 
          linear-gradient(
            30deg, 
            $navy-border 10%,
            $royalBlue 50%
          );
      background-origin: border-box;
      background-clip: content-box, border-box;
      box-shadow: 2px 1000px 1px $navy inset;

      &:hover {
        box-shadow: none;
        color: white;
      }

      &:active {
        transform: scale(0.95);
      }
    }

    &.btn-outline-secondary {
      color: $deepPink;
      border: solid 1px transparent;
      border-radius: 100rem;
      background-image: 
        linear-gradient(
          rgba(255, 255, 255, 0), 
          rgba(255, 255, 255, 0)), 
          linear-gradient(
            30deg, 
            #8C1F4E 10%,
            $deepPink-100 50%
          );
      background-origin: border-box;
      background-clip: content-box, border-box;
      box-shadow: 2px 1000px 1px $navy inset;

      &:hover {
        box-shadow: none;
        color: white;
      }

      &:active {
        transform: scale(0.95);
      }
    }

    &.block {
      font-size: 20px;
      line-height: 24px;
      font-weight: $medium;
    }

    &.disabled {
      color: $gray-100;
      background: $gray-light;
    }
  }
}
