@import '~assets/styles/variables';

.wrapper {
  width: 100%;
  padding: 24px 36px;
  box-sizing: border-box;

  .input {
    margin: 24px 0;
  }

  .inputWrap {
    position: relative;

    .input {
      &.verfied {
        color: $purple;

        input {
          padding-left: 15px;
        }
      }
    }

    .statusIcon {
      position: absolute;
      opacity: 1;
      top: 38px;
      left: 15px;
      z-index: 1;
      transform: scale(1);
      transition: all 0.3s;

      &.hide {
        opacity: 0;
        transform: scale(0);
      }
    }
  }

  .textarea {
    margin: 24px 0;
    height: 60px !important;

    & textarea {
      height: 56px !important;
    }
  }

  .actions {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 56px;
    justify-content: space-between;

    .cancel {
      background: $gray-light !important;
      color: $gray-dark !important;
      width: 144px;
      padding: 8px;
    }

    .save {
      width: 144px;
      padding: 8px;
    }
  }
}
