@import '~assets/styles/variables';

.background {
  z-index: 19;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  position: absolute;
  top: 0;
  height: 100%;
  transition: .3s all;
}

.modal {
  width: 75%;
  height: 568px;
  top: 7px;
  z-index: 20;
  transition: .3s all;
  position: absolute;
  padding: .5rem 2rem;
  border-radius: 1rem;
  border: 1px solid $deepPink;
  font-size: .8rem;
  color: $royalBlue-medium;
  font-family: 'Poppins', sans-serif;
  background-color: $navy-darker;

  b {
    color: $royalBlue;
  }

  p {
    color: white;
  }

  .mask {
    transition: all 0.3s;
    display: flex;
    /* width: 100vw; */
    height: 485px;
    align-items: center;
    justify-content: center;
    background: transparent;
    opacity: 1;
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);

    .loader {
      width: 60px;
      height: 60px;
      margin: 6px 0;
      transition: all 300ms;
      opacity: 1;

      svg {
        color: $white;
      }
    }
  }

  .transaction {
    .from {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .iconBtn {
        transition: all 0.3s;
        padding: .3rem;
        border-radius: .4rem;
        transition: all 0.3s;
        cursor: pointer;

        &:hover {
          background: $royalBlue-medium;
          color: $navy;
        }

        &.active {
          color: white;
          background: $deepPink;
        }

        .icon {
          color: $white;
          font-size: 1.5rem;
        }
      }
    }


    .select {
      flex: 1;
      margin: .6rem 0;

      .fullselect {
        position: relative;
        transition: all 300ms;
        cursor: pointer;
        color: #fff;
        border-radius: 5rem;
        // z-index: 2;
        height: 40px;

        .selected {
          width: 100%;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          font-weight: $semibold;
          font-size: 0.8rem;
          color: white;
          
          & > span > p {
            margin-left: 4px;
          }

          .arrow {
            transition: all 0.3s;
            transform: rotateZ(0deg);
            color: $white;
          }
        }

        ul.options {
          margin: 0;
          padding: 0;
          list-style: none;
          transition: all 300ms;
          transform: scaleY(0);
          transform-origin: top;
          -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
          overflow-x: hidden;
          overflow-y: auto;
          max-height: 300px;
          border-radius: .7rem;
          font-weight: 600;
          font-size: 0.8rem;
          color: white;
          display: block;
          background: #122036;
          cursor: default;
          margin: .2rem;
          border: 1px solid #1e365c;

          & li:last-child {
            border-bottom: none;
          }

          & li {
            padding: .3rem 0;
            border-bottom: 1px solid #80808047;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            & p {
              margin-bottom: 0;
            }

            & small {
              margin-top: 0;
              margin-bottom: .3rem;
              color: #cb2c70;
            }
          }

          &::-webkit-scrollbar {
            width: 3px;
          }

          &::-webkit-scrollbar-button {
            display: none;
          }

          &::-webkit-scrollbar-thumb {
            border-radius: 2rem;
            background-color: $royalBlue;
            transition: all 0.3s;
          }
        }

        &.expanded {
          ul.options {
            transform: scaleY(1);
          }

          .arrow {
            transform: rotateZ(180deg);
          }
        }

        &.expandedDetail {
          position: relative;
          width: 230px;
          transition: all 300ms;
          cursor: pointer;
          background-color: #122036;
          border: 1px solid #122036;
          color: #fff;
          border-radius: 5rem;
          // z-index: 2;
          height: 20px;

          ul.options {
            transform: scaleY(1);
          }

          .arrow {
            transform: rotateZ(180deg);
          }
        }
      }

      :global(.MuiInputBase-root) {
        width: 6rem;
        transition: all 0.3s;
        background-color: #333f52;
        border: 1px solid #465162;
        color: $white;

        &::before,
        &::after {
          border-bottom: none !important;
        }
      }

      :global(.MuiSelect-root) {
        transition: all 0.3s;
        font-size: 0.8rem;
        background: $white;
        color: $navy-dark;

        & optgroup {
          color: turquoise;
        }
      }

      :global .MuiSelect-icon {
        transition: all 0.3s;
        color: $royalBlue;
      }

      :global .MuiSelect-iconOpen {
        transform: rotateZ(180deg);
      }
    }


    .data {
      height: 305px;
      overflow: auto;
      padding: 0 .5rem;

      .flexCenter {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      h1,
      h2 {
        margin: 0;
      }

      &::-webkit-scrollbar {
        width: 3px;
      }

      &::-webkit-scrollbar-button {
        display: none;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 2rem;
        background-color: $royalBlue;
        transition: all 0.3s;
      }
    }
  }



  .close {
    padding: .6rem;
    display: flex;
    justify-content: flex-end;

    button {
      width: 98%;
      height: 2rem;
      color: $deepPink;
      border: 1px solid transparent;
      border-radius: 2rem;
      background-image:
        linear-gradient(rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0)),
        linear-gradient(30deg,
          #8C1F4E 10%,
          $deepPink-100 50%);
      background-origin: border-box;
      background-clip: content-box, border-box;
      box-shadow: 2px 1000px 1px $navy inset;

      cursor: pointer;
      font-weight: bold;
      margin: .5rem 0 0;
      transition: .3s all;
      outline: none;

      &:hover {
        box-shadow: none;
        color: white;
      }

      &:active {
        transform: scale(0.95);
      }
    }
  }

  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    color: $royalBlue-medium;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid;
    border-image:
      linear-gradient(to right,
        $navy 20%,
        $royalBlue 50%,
        $navy 80%) 10;

    p {
      cursor: pointer;
    }
  }

  .account {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .9rem;
    transition: .3s all;
    cursor: pointer;
    border-radius: .5rem;

    .data {
      display: flex;
      flex-direction: column;

      p {
        margin: 0;
      }

      small {
        font-size: 12px;
      }
    }

    img {
      &:hover {
        color: $gray-dark;
      }
    }
  }

  .permissions {
    opacity: 70%;

    &>p {
      font-weight: bold;
      margin-bottom: .3rem;
      padding-bottom: .2rem;
      border-bottom: 1px solid rgb(230, 230, 230);
    }

    &>div>small {
      cursor: not-allowed;
    }
  }
}