@import '~assets/styles/variables';

.home {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  min-height: 100%;
  background: $navy;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 36px;
  box-sizing: border-box;
  border-style: solid;
  border-width: 3px 0;
  border-image: 
    linear-gradient(
      to right, 
      $navy 20%, 
      $navy-light 50%, 
      $navy 80%
    ) 10;

  .logo {
    margin-top: 80px;
    margin-bottom: 80px;
    width: 170px;
  }

  .started {
    margin-bottom: 30px;
  }
}
