@import '~assets/styles/variables';

.home {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  min-height: 100%;
  background: $purple;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 36px;
  box-sizing: border-box;

  .logo {
    margin-top: 80px;
    margin-bottom: 80px;
    width: 212px;
  }

  .started {
    margin-bottom: 30px;
  }
}
