@font-face {
  font-family: "Poppins";
  src: local("Poppins Regular"), local("Poppins-Regular"),
    url("./Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-size: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: local("Rubik Regular"), local("Rubik-Regular"),
    url("./Rubik-Regular.ttf") format("truetype");
  font-weight: 400;
  font-size: normal;
  font-display: swap;
}