@import '~assets/styles/variables';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  width: 100%;
  height: 100%;

  .mask {
    transition: all 0.3s;
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: $purple;
    opacity: 1;
    backdrop-filter: blur(0px);

    .loader {
      width: 60px;
      height: 60px;
      transition: all 300ms;
      opacity: 1;

      svg {
        color: $white;
      }
    }

    &.hide {
      opacity: 0;
      backdrop-filter: blur(10px);
      align-items: center;
      justify-content: center;

      & .loader {
        opacity: 0;
      }
    }
  }

  section.account {
    height: 60px;
    width: 100%;
    margin-top: 72px;
    border-bottom: 1px solid $gray-100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;

    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: $gray-dark;

    & > small {
      font-weight: 600;
      font-size: 12px;
      line-height: 18px;
      text-align: center;
      letter-spacing: 0.03em;
      line-height: 24px;
      color: $gray;
      position: relative;

      .copy {
        position: absolute;
        right: -38px;
        bottom: 1px;
        width: 24px;
        height: 24px;

        .icon {
          height: 18px;
          width: auto;
        }
      }
    }
  }

  section.center {
    width: 100%;
    height: 180px;
    border-bottom: 1px solid $gray-100;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;

    .refresh {
      position: absolute;
      width: 32px;
      right: 30px;
      height: 32px;
      color: $gray-100;
    }

    & > span {
      font-weight: 600;
      font-size: 18px;
      line-height: 36px;
      color: $gray-dark;
    }

    & > h3 {
      font-weight: 500;
      font-size: 33px;
      line-height: 48px;
      margin: 0px;
      color: $gray-dark;

      small {
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
      }
    }

    & > small {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: $gray-100;
      margin-top: 8px;
    }

    .actions {
      display: flex;
      width: 300px;
      flex-direction: row;
      justify-content: space-between;

      .button {
        margin-top: 18px;
        width: 144px;
      }
    }
  }

  .activity {
    height: 288px;
    background: $gray-light;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    position: absolute;
    bottom: -2px;
    overflow: auto;
    flex-direction: column;
    width: 100%;
    align-items: center;
    transition: all 0.3s;
    z-index: 2;

    .spinner {
      svg {
        color: $white;
      }
    }

    &.expanded {
      height: 528px;
    }

    .stargazer {
      user-select: none;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      opacity: 0.6;
      position: sticky;
      bottom: 0;
    }

    .noTxComment {
      padding: 12px 36px;
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      color: $gray-dark;
    }

    .heading {
      box-sizing: border-box;
      display: flex;
      background: $gray-light;
      border-bottom: 1px solid $gray-100;
      position: sticky;
      top: 0;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      font-weight: bold;
      font-size: 18px;
      line-height: 60px;
      width: 100%;
      color: $gray-dark;
      z-index: 2;

      .goTop {
        width: 26px;
        font-size: 16px;
        height: 26px;
        position: absolute;
        right: 36px;
      }
    }

    ul {
      margin: 0px;
      padding: 0px;
      width: 100%;
      list-style: none;
      position: relative;
      z-index: 1;
      flex-grow: 4;

      li {
        width: 100%;
        height: 84px;
        display: flex;
        box-sizing: border-box;
        flex-direction: row;
        padding: 0 36px;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid $white;
        transition: all 0.3s;
        cursor: pointer;

        &:hover {
          background: rgab($gray-light-100, 0.9);
          backdrop-filter: blur(10px);

          .linkIcon {
            background: $gray-200;
          }
        }

        &.groupbar {
          height: 24px;
          background: $purple-medium;
          font-weight: 500;
          font-size: 12px;
          line-height: 18px;
          color: $purple;
        }

        & > div {
          display: flex;
          flex-direction: row;
          align-items: center;

          &:first-child > span {
            font-size: 16px;
          }

          & > span {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: start;
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
            color: $gray-dark;

            & > span {
              display: flex;
              flex-direction: row;
              align-items: flex-end;

              & > b {
                font-weight: 500;
                font-size: 12px;
                line-height: 18px;
                margin-left: 4px;
              }
            }

            & > small {
              font-weight: 500;
              font-size: 12px;
              line-height: 18px;
              color: $gray;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: auto;
              width: 96px;
              text-align: right;
              display: inline-block;
              overflow: hidden;
            }
          }

          &:last-child > span {
            align-items: flex-end;
            justify-content: end;
          }
        }

        .bullet {
          height: 16px;
          width: auto;
          margin-right: 12px;
          color: $purple;
        }

        .angle {
          height: 25px;
          margin-left: 12px;
          color: $gray-medium;
        }

        .iconWrapper {
          width: 24px;
          height: 24px;
          background: $purple;
          border-radius: 50%;
          color: $white;
          display: flex;
          align-items: center;
          justify-content: center;
          box-sizing: border-box;
          margin-right: 12px;

          svg {
            font-size: 16px;
          }
        }

        .linkIcon {
          width: 24px;
          height: 24px;
          background: $gray-100;
          border-radius: 50%;
          color: $white;
          display: flex;
          align-items: center;
          justify-content: center;
          box-sizing: border-box;
          margin-left: 12px;
          transition: all 0.3s;

          svg {
            transform: rotateZ(45deg);
            font-size: 16px;
          }
        }
      }
    }
  }
}

:global([data-scrollbar='true']) {
  width: 100%;
}
