@import '~assets/styles/variables';

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  transition: 0.3s all;

  .background {
    z-index: 19;
    background-color: rgba(18, 32, 54, 0.6);
    -webkit-backdrop-filter: blur(0.2rem);
    backdrop-filter: blur(0.2rem);
    width: 100%;
    position: absolute;
    top: 0;
    height: 100vh;
    transition: 0.3s all;
  }

  .backgroundModalBlock {
    z-index: 2;
    background-color: rgba(18, 32, 54, 0.6);
    -webkit-backdrop-filter: blur(0.2rem);
    backdrop-filter: blur(0.2rem);
    width: 100%;
    position: absolute;
    top: 0;
    height: 100vh;
    transition: 0.3s all;
  }

  .mask {
    transition: all 0.3s;
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: $navy;
    opacity: 1;
    backdrop-filter: blur(0px);

    .loader {
      width: 60px;
      height: 60px;
      margin: 6px 0;
      transition: all 300ms;
      opacity: 1;

      svg {
        color: $white;
      }
    }

    .loaderBalance {
      width: 24px;
      height: 24px;
      margin: 6px 0;
      transition: all 300ms;
      opacity: 1;

      svg {
        color: $white;
      }
    }

    &.hide {
      opacity: 0;
      backdrop-filter: blur(10px);
      align-items: center;
      justify-content: center;

      & .loader {
        opacity: 0;
      }
    }
  }

  section.account {
    height: 60px;
    width: 100%;
    margin-top: 72px;
    border-bottom: 1px solid $navy;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;

    font-weight: bold;
    font-size: 18px;
    text-align: center;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: $royalBlue-medium;
    background: $navy;

    & > small {
      font-weight: 600;
      font-size: 12px;
      line-height: 18px;
      text-align: center;
      letter-spacing: 0.03em;
      line-height: 24px;
      color: $deepPink-100;
      position: relative;

      .copy {
        position: absolute;
        right: -38px;
        bottom: 1px;
        width: 24px;
        height: 24px;

        .icon {
          height: 18px;
          width: auto;
        }
      }
    }
  }

  section.center {
    width: 100%;
    height: 180px;
    border-bottom: 1px solid $navy;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background: $navy;
    transition: 0.3s all;

    .notConnected {
      width: 98%;
      margin-bottom: 0.5em;
      text-align: center;
      cursor: pointer;
      border-left: 2px solid $deepPink;
      border-right: 2px solid $deepPink;
      font-weight: $regular;
      color: $deepPink;

      &:hover {
        width: 90%;
        color: $deepPink-100;
        transition: 0.4s all;
        letter-spacing: 0.05em;
        border-left: 20px solid $deepPink-100;
        border-right: 20px solid $deepPink-100;
      }
    }

    .connected {
      width: 98%;
      margin-bottom: 0.5em;
      text-align: center;
      // transition: .3s all;
      cursor: pointer;
      border-left: 3px solid $yellowGreen;
      border-right: 3px solid $yellowGreen;
      color: $yellowGreen;

      &:hover {
        width: 90%;
        color: $yellowGreen;
        transition: 0.4s all;
        border-left: 20px solid $yellowGreen;
        border-right: 20px solid $yellowGreen;
      }
    }

    .refresh {
      position: absolute;
      width: 32px;
      height: 32px;
      right: 3.5em;
      top: 3.9em;
      color: $white;
      transition: 0.3s all;

      &:hover {
        color: $deepPink;
        // animation-name: spin;
        // animation-duration: 3000ms;
        // animation-iteration-count: 1;
        // animation-timing-function: linear;
        // transform: rotate(3deg);
        /* transform: rotate(0.3rad);/ */
        /* transform: rotate(3grad); */
        /* transform: rotate(.03turn);  */
      }

      // &:active {
      //   animation-name: spin;
      //   animation-duration: 1000ms;
      //   animation-iteration-count: 1;
      //   animation-timing-function: linear;
      //   transform: rotate(3deg);
      // }

      // @keyframes spin {
      //     from {
      //         transform:rotate(0deg);
      //     }
      //     to {
      //         transform:rotate(360deg);
      //     }
      // }
    }

    .loadingRefresh {
      position: absolute;
      width: 32px;
      right: 30px;
      height: 32px;
      color: $white;
      animation-name: spin;
      animation-duration: 1000ms;
      animation-iteration-count: 1;
      animation-timing-function: linear;
      transform: rotate(3deg);
    }

    @keyframes spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }

    & > span {
      font-weight: 600;
      font-size: 18px;
      line-height: 36px;
      color: $deepPink;
    }

    & > h3 {
      font-weight: $bold;
      font-size: 2.4rem;
      // line-height: 48px;
      margin: 0.5em 0 0 0;
      color: $deepPink;

      small {
        font-weight: $bold;
        font-size: 18px;
        // line-height: 24px;
      }
    }

    & > small {
      margin-top: 0.2em;
      font-weight: $light;
      font-size: 1rem;
      // line-height: 24px;
      color: $white;
    }

    .actions {
      display: flex;
      width: 300px;
      flex-direction: row;
      justify-content: space-between;

      .button {
        margin-top: 18px;
        width: 144px;
      }
    }
  }

  .activity {
    height: 288px;
    width: 100%;
    padding: 0;
    bottom: -2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    position: absolute;
    overflow: auto;
    transition: all 0.3s;
    z-index: 2;
    background: $navy;

    border-bottom: 5px solid;
    border-image: linear-gradient(to right, $navy 20%, $royalBlue 50%, $navy 80%) 10;

    .spinner {
      svg {
        color: $white;
      }
    }

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track-piece {
      background-color: #f1f1f1;
      border-radius: 2rem;
    }

    &::-webkit-scrollbar-button {
      display: none;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 2rem;
      background-color: #c9c9c9;
      transition: all 0.3s;
    }

    &.expanded {
      height: 528px;
    }

    .syscoin {
      user-select: none;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      opacity: 0.6;
      position: sticky;
      bottom: 0;
    }

    .noTxComment {
      margin-top: 12px;
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      color: $white;
      text-align: center;
    }

    .heading {
      box-sizing: border-box;
      display: flex;
      background: $navy;
      border-bottom: 1px solid #162742;
      position: sticky;
      top: 0;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      font-weight: bold;
      font-size: 18px;
      line-height: 60px;
      width: 100%;
      color: $royalBlue;
      z-index: 2;

      .goTop {
        width: 26px;
        font-size: 16px;
        height: 26px;
        position: absolute;
        right: 36px;
        color: $deepPink;

        &:hover {
          color: $deepPink-100;
          margin-top: 2px;
        }
      }
    }

    .groupbar {
      height: 24px;
      background-image: linear-gradient(to right, $navy-border 40%, $navy-medium 80%);
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      color: $royalBlue;
      padding: 5px 36px 0;
    }

    .assetItem {
      width: 100%;
      // height: 84px;
      display: flex;
      box-sizing: border-box;
      flex-direction: row;
      padding: 25px 36px 0;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid $navy;
      transition: all 0.3s;
      cursor: pointer;

      &:hover {
        border-left: 1px solid;
        border-image: linear-gradient(0deg, $navy 20%, $royalBlue 50%, $navy 80%) 10;
        backdrop-filter: blur(10px);

        .linkIcon {
          background: $royalBlue;
        }
      }
      
      & > div {
        display: flex;
        flex-direction: row;
        align-items: center;

        &:first-child > span {
          font-size: 16px;
        }

        & > span {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: start;
          font-weight: 500;
          font-size: 18px;
          line-height: 24px;
          color: $navy-light;

          & > span {
            display: flex;
            flex-direction: row;
            align-items: flex-end;

            & > b {
              font-weight: 500;
              font-size: 12px;
              line-height: 18px;
              margin-left: 4px;
            }
          }

          & > small {
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            white-space: nowrap;
            // text-overflow: ellipsis;
            overflow: auto;
            width: 96px;
            text-align: right;
            display: inline-block;
            overflow: hidden;
            color: $white;
          }
        }

        &:last-child > span {
          align-items: flex-end;
          justify-content: end;
          color: $royalBlue;
          margin-bottom: 10px;
        }
      }
      
      .bullet {
        height: 16px;
        width: auto;
        margin-right: 12px;
        color: $navy;
      }

      .angle {
        height: 25px;
        margin-left: 12px;
        color: $gray-medium;
      }

      .iconWrapper {
        width: 24px;
        height: 24px;
        background: $navy;
        border-radius: 50%;
        color: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        margin-right: 12px;

        svg {
          font-size: 16px;
        }
      }

      .data {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }

      .linkIcon {
        width: 24px;
        height: 24px;
        background: $navy-dark;
        border-radius: 50%;
        color: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        margin-left: 12px;
        transition: all 0.3s;

        svg {
          transform: rotateZ(45deg);
          font-size: 16px;
        }
      }
    }

    ul {
      margin: 0px;
      padding: 0px;
      width: 100%;
      list-style: none;
      position: relative;
      z-index: 1;
      flex-grow: 4;

      li {
        width: 100%;
        // height: 84px;
        display: flex;
        box-sizing: border-box;
        flex-direction: row;
        padding: 5px 36px 0;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid $navy;
        transition: all 0.3s;
        cursor: pointer;

        &:hover {
          border-left: 1px solid;
          border-image: linear-gradient(0deg, $navy 20%, $royalBlue 50%, $navy 80%) 10;
          backdrop-filter: blur(10px);

          .linkIcon {
            background: $royalBlue;
          }
        }

        &.groupbar {
          height: 24px;
          background-image: linear-gradient(to right, $navy-border 40%, $navy-medium 80%);
          font-weight: 500;
          font-size: 12px;
          line-height: 18px;
          color: $royalBlue;
        }

        & > div {
          display: flex;
          flex-direction: row;
          align-items: center;

          &:first-child > span {
            font-size: 16px;
          }

          & > span {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: start;
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
            color: $navy-light;

            & > span {
              display: flex;
              flex-direction: row;
              align-items: flex-end;

              & > b {
                font-weight: 500;
                font-size: 12px;
                line-height: 18px;
                margin-left: 4px;
              }
            }

            & > small {
              font-weight: 500;
              font-size: 12px;
              line-height: 18px;
              white-space: nowrap;
              // text-overflow: ellipsis;
              overflow: auto;
              width: 96px;
              text-align: right;
              display: inline-block;
              overflow: hidden;
              color: $white;
            }
          }

          &:last-child > span {
            align-items: flex-end;
            justify-content: end;
            color: $royalBlue;
          }
        }

        .bullet {
          height: 16px;
          width: auto;
          margin-right: 12px;
          color: $navy;
        }

        .angle {
          height: 25px;
          margin-left: 12px;
          color: $gray-medium;
        }

        .iconWrapper {
          width: 24px;
          height: 24px;
          background: $navy;
          border-radius: 50%;
          color: $white;
          display: flex;
          align-items: center;
          justify-content: center;
          box-sizing: border-box;
          margin-right: 12px;

          svg {
            font-size: 16px;
          }
        }

        .data {
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
        }

        .linkIcon {
          width: 24px;
          height: 24px;
          background: $navy-dark;
          border-radius: 50%;
          color: $white;
          display: flex;
          align-items: center;
          justify-content: center;
          box-sizing: border-box;
          margin-left: 12px;
          transition: all 0.3s;

          svg {
            transform: rotateZ(45deg);
            font-size: 16px;
          }
        }
      }
    }
  }
}

:global([data-scrollbar='true']) {
  width: 100%;
}
