.custom-input-search .ant-input {
  position: relative !important;
  width: 100%;
  height: 40px;
  border-radius: 100px !important;
  border: 1px solid rgba(255, 255, 255, 0.16) !important;
  background: #07152a !important;
  color: #808795;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 11px 86px 11px 20px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-input-search #create-password {
  width: 352px;
}

.custom-input-search .anticon-eye-invisible,
.custom-input-search .anticon-eye {
  position: absolute;
  top: 49%;
  right: 20px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #a2a5ab;
  font-size: 14px;
  line-height: 14px;
}

.custom-input-search .ant-input-suffix .anticon-close-circle svg {
  display: none;
}

.custom-input-search .ant-input-suffix .anticon-close-circle {
  position: absolute;
  top: 53%;
  right: 13px;
  transform: translateY(-50%);
  cursor: pointer;
  background-color: #d70000;
  padding: 2px 4px;
  border-radius: 100px;
}
.custom-input-search .ant-input-suffix .anticon-close-circle::before {
  display: inline-block;
  position: relative;
  bottom: -3px;
  content: url('../all_assets/errorIconWhite.svg');
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #fff;
}

.custom-input-search .ant-input-suffix .anticon-close-circle::after {
  display: inline-block;
  content: 'Not trusted';
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-style: normal;
  padding-left: 4px;
  font-weight: 400;
  line-height: normal;
  color: #fff;
}

.custom-input-search .ant-input-suffix .anticon-check-circle svg {
  display: none;
}

.custom-input-search .ant-input-suffix .anticon-check-circle {
  position: absolute;
  top: 53%;
  right: 13px;
  transform: translateY(-50%);
  cursor: pointer;
  background-color: #8ec100;
  padding: 2px 4px;
  border-radius: 100px;
}

.custom-input-search .ant-input-suffix .anticon-check-circle::before {
  display: inline-block;
  position: relative;
  bottom: -3px;
  content: url('../all_assets/successIconWhite.svg');
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #fff;
}

.custom-input-search .ant-input-suffix .anticon-check-circle::after {
  display: inline-block;
  content: 'Trusted';
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-style: normal;
  padding-left: 4px;
  font-weight: 400;
  line-height: normal;
  color: #fff;
}
