.custom-input-password .ant-input {
  position: relative !important;
  width: 280px;
  border-radius: 100px !important;
  border: 1px solid rgba(255, 255, 255, 0.16);
  background: #07152a !important;
  color: #808795;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 11px 86px 11px 20px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-input-password,
#forget_password,
#phraseview_password {
  width: 352px;
}

.custom-input-password,
#create-password {
  width: 300px;
}

.custom-input-password .anticon-eye-invisible,
.custom-input-password .anticon-eye {
  content: url('../all_assets/notVisibleEye.svg');
  position: absolute;
  top: 49%;
  right: 20px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #a2a5ab;
  font-size: 14px;
  line-height: 14px;
  margin: 0 !important;
}

.custom-input-password .anticon-eye-visible,
.custom-input-password .anticon-eye {
  content: url('../all_assets/visibleEye.svg');
  position: absolute;
  top: 49%;
  right: 20px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #a2a5ab;
  font-size: 14px;
  line-height: 14px;
}

.custom-input-password .ant-input-suffix .anticon-close-circle {
  content: url('../all_assets/errorIcon.svg');
  position: absolute;
  top: 49%;
  right: 42px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 14px;
  line-height: 14px;
}

.custom-input-password .ant-input-suffix .anticon-check-circle {
  content: url('../all_assets/successIcon.svg');
  position: absolute;
  top: 49%;
  right: 42px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 14px;
  line-height: 14px;
}
