.custom-import-input .ant-input {
  display: flex;
  width: 352px;
  height: 40px;
  padding: 12px 55px 12px 15px;
  align-items: center;
  border-radius: 100px;
  border: 1px solid rgba(255, 255, 255, 0.16);
  background-color: #07152a !important;
  font-size: 12px;
}

.custom-import-input .ant-input-suffix .anticon-close-circle {
  content: url('../all_assets/errorIcon.svg');
  position: absolute;
  top: 55%;
  right: 28px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 14px;
  line-height: 14px;
}

.custom-import-input .ant-input-suffix .anticon-check-circle {
  content: url('../all_assets/successIcon.svg');
  position: absolute;
  top: 53%;
  right: 28px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 14px;
  line-height: 14px;
}

.custom-import-input .ant-input-suffix .anticon-loading {
  position: absolute;
  top: 40%;
  right: 28px;
  cursor: pointer;
  font-size: 14px;
  line-height: 14px;
}
