.sender-custom-input .ant-input {
  display: flex;
  width: 352px;
  height: 40px;
  padding: 11px 20px;
  border-radius: 100px;
  border: 1px solid rgba(255, 255, 255, 0.16);
  background-color: #07152a !important;
  font-size: 12px;
}

#with-max-button,
.sender-custom-input .ant-input {
  width: 244px;
  padding: 10px 70px;
}

#fee-input,
.sender-custom-input .ant-input {
  width: 352px;
  color: #fff !important;
  padding: 11px 20px;
}

.sender-custom-input .ant-input-suffix .anticon-close-circle {
  content: url('../all_assets/errorIcon.svg');
  position: absolute;
  top: 18.5rem;
  right: 45px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 14px;
  line-height: 14px;
}

.sender-custom-input .ant-input-suffix .anticon-check-circle {
  content: url('../all_assets/successIcon.svg');
  position: absolute;
  top: 18.5rem;
  right: 45px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 14px;
  line-height: 14px;
}

.value-custom-input .ant-input {
  display: flex;
  width: 244px;
  height: 40px;
  padding: 11px 20px;
  border-radius: 100px;
  border: 1px solid rgba(255, 255, 255, 0.16);
  background-color: #07152a !important;
  font-size: 12px;
}

.value-custom-input .ant-input-suffix .anticon-close-circle {
  content: url('../all_assets/errorIcon.svg');
  position: absolute;
  top: 1.3rem;
  right: 23px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 14px;
  line-height: 14px;
}

.value-custom-input .ant-input-suffix .anticon-check-circle {
  content: url('../all_assets/successIcon.svg');
  position: absolute;
  top: 1.3rem;
  right: 23px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 14px;
  line-height: 14px;
}
