.custom-receive-input {
  display: flex;
  width: 352px;
  height: 40px;
  align-items: center;
  border-radius: 100px;
  border: 1px solid rgba(255, 255, 255, 0.16);
  background-color: #07152a;
  font-size: 12px;
  padding: 12px 55px 12px 15px;
}

.custom-receive-input .ant-input-suffix .anticon-close-circle {
  content: url('../all_assets/errorIcon.svg');
  position: absolute;
  top: 55%;
  right: 80px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 14px;
  line-height: 14px;
}

.custom-receive-input .ant-input-suffix .anticon-check-circle {
  content: url('../all_assets/successIcon.svg');
  position: absolute;
  top: 53%;
  right: 40px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 14px;
  line-height: 14px;
}
