@tailwind base;
@tailwind components;
@tailwind utilities;

/** ALERTS/TOASTS **/

div[role='alert'] {
  @apply absolute left-1/4 right-1/4 text-center text-brand-white text-base font-light;
}

/** IDENTICONS **/

.add-identicon svg {
  @apply rounded-full;
}

/** SCROLLBAR **/

.remove-scrollbar::-webkit-scrollbar {
  @apply hidden;
}

.scrollbar-styled::-webkit-scrollbar {
  @apply w-1 h-1;
}

.scrollbar-styled::-webkit-scrollbar-track-piece {
  @apply bg-transparent rounded-full;
}

.scrollbar-styled::-webkit-scrollbar-button {
  @apply hidden;
}

.scrollbar-styled::-webkit-scrollbar-thumb {
  @apply bg-brand-royalblue rounded-full transition-all duration-300;
}

.ant-form-item-explain-error {
  display: none !important;
}

.scrollbar-styled {
  /* Firefox */
  scrollbar-color: #4ca1cf #739dce;
  scrollbar-width: thin;
}

.remove-scrollbar {
  /* IE and Edge */
  -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;
}

/** BUTTONS **/

.button-disabled {
  @apply text-brand-gray font-light bg-transparent border-2 border-brand-gray opacity-60 cursor-not-allowed;
}

/** INPUTS **/

.input-default-disabled .ant-input {
  @apply text-brand-white font-light bg-brand-gray border border-brand-gray outline-none opacity-60 cursor-not-allowed;
}

/** use default classes for input borders and background **/
.input-default-border {
  @apply border border-fields-input-border focus:border-fields-input-borderfocus rounded-full;
}

.input-default {
  @apply placeholder-gray-500 input-default-border relative block text-brand-white bg-fields-input-primary border focus:border-fields-input-borderfocus border-fields-input-primary outline-none sm:w-96;
}

/** input size small **/

.input-small .ant-input {
  @apply input-default p-3 w-80 text-xs;
}

/** input size extra small **/

.input-extra-small .ant-input {
  @apply input-default p-3 w-72 text-xs;
}

/** align suffix from input to the right **/
.input-small .ant-input-suffix,
.input-extra-small .ant-input-suffix,
.mixed-border-input .ant-input-suffix {
  @apply absolute bottom-3 right-3 flex gap-x-1.5 items-center justify-center;
}

/** align eye invisible icon from password input suffix **/
.input-small .ant-input-suffix .anticon-eye-invisible,
.input-small .ant-input-suffix .anticon-eye {
  @apply mt-1.5 text-brand-royalblue;
}

/** input size medium **/
.input-medium .ant-input {
  @apply input-default p-4 w-80 text-sm;
}

.input-medium .ant-input-suffix {
  @apply absolute right-2 top-2.5;
}

/** Group disabled input **/
.disabled {
  @apply opacity-60;
}

/** Mixed rounded border inputs **/
.mixed-border-input {
  @apply relative;
}

.mixed-border-input .ant-input {
  @apply block flex-1 p-3 w-full min-w-0 text-left text-sm bg-fields-input-primary border border-fields-input-border focus:border-fields-input-borderfocus rounded-r-full outline-none;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* put textfield appearance on number inputs by removing spin */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/** Input Suffix **/

.ant-input-suffix .anticon-check-circle {
  @apply text-warning-success;
}

.ant-input-suffix .anticon-close-circle {
  @apply text-warning-error;
}

.ant-input-suffix .anticon-loading {
  @apply text-brand-graylight;
}

/** Input Type Radio **/
.ant-radio {
  @apply flex items-center justify-center;
}
