@tailwind base;
@tailwind components;
@tailwind utilities;

.add-identicon svg {
  @apply rounded-full;
}

input {
  @apply outline-none;
}

div[role='alert'] {
  @apply absolute left-1/4 right-1/4 text-center text-brand-white text-base font-light;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* scrollbar */
.remove-scrollbar::-webkit-scrollbar {
  @apply hidden;
}

.scrollbar-styled::-webkit-scrollbar {
  @apply w-1;
}

.scrollbar-styled::-webkit-scrollbar-track-piece {
  @apply bg-transparent rounded-full;
}

.scrollbar-styled::-webkit-scrollbar-button {
  @apply hidden;
}

.scrollbar-styled::-webkit-scrollbar-thumb {
  @apply bg-brand-royalblue rounded-full transition-all duration-300;
}

.scrollbar-styled {
  /* Firefox */
  scrollbar-color: #4ca1cf #739dce;
  scrollbar-width: thin;
}

.remove-scrollbar {
  /* IE and Edge */
  -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;
}

/* end */

/* put textfield appearance on number inputs by removing spin */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* end */

/* password inputs */
.password > .ant-input {
  @apply p-2 pl-4 w-full text-brand-graylight text-sm bg-fields-input-primary border border-fields-input-border focus:border-fields-input-borderfocus rounded-full;
}

.ant-input-affix-wrapper.ant-input-password {
  @apply relative;
}

/* end */

/* inputs */
.ant-input {
  @apply w-full bg-fields-input-primary;
}

.form .ant-input {
  @apply w-52 bg-fields-input-primary;
}

.small > .ant-input {
  @apply block px-4 py-2 w-72 text-sm border border-fields-input-border focus:border-fields-input-borderfocus rounded-full md:w-96;
}

.large > .ant-input {
  @apply block pl-4 pr-8 py-3 w-72 text-sm bg-fields-input-primary border border-fields-input-border focus:border-fields-input-borderfocus rounded-full outline-none md:w-full;
}

.large > .ant-input > .ant-input-suffix {
  @apply absolute right-2 top-2.5 text-bkg-4;
}

.standard .ant-input-suffix {
  @apply top-0.5;
}

.ant-form-item-control-input-content {
  @apply w-full;
}

.ant-input-suffix {
  @apply absolute right-2 text-bkg-4;
}

/* #autolock .ant-input-suffix {
  @apply top-0.5;
} */


.ant-form-item-feedback-icon {
  @apply ml-2;
}

.ant-form-item-feedback-icon-error {
  @apply ml-2;
}

.ant-form-item-control-input {
  @apply relative flex items-center justify-center;
}

.anticon.anticon-check-circle {
  @apply text-warning-success;
}

.anticon.anticon-close-circle {
  @apply text-warning-error;
}

.ant-tooltip-hidden {
  @apply hidden;
}
