@tailwind base;
@tailwind components;
@tailwind utilities;

.add-identicon svg {
  @apply rounded-full;
}

input {
  @apply outline-none;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.remove-scrollbar::-webkit-scrollbar {
  display: none;
}

.remove-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge /
  scrollbar-width: none; / Firefox */
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.ant-form-item-control-input-content > textarea {
  @apply p-2 pl-4 w-full h-20 text-brand-graylight text-sm border focus:border-fields-input-borderfocus rounded-lg outline-none resize-none;
}

.ant-badge.ant-badge-status {
  width: 10px;
  height: 10px;
  background: green;
  color: green;
  position: absolute;
  top: 0;
  border-radius: 50%;
  right: 0;
}

.ant-input-affix-wrapper.ant-input-password > input,
.ant-input-affix-wrapper.ant-input > input {
  @apply p-2 pl-4 w-full text-brand-graylight text-sm bg-fields-input-primary border focus:border-fields-input-border border-fields-input-borderfocus rounded-full;
}

.scrollbar-styled::-webkit-scrollbar {
  @apply w-1;
}

.scrollbar-styled::-webkit-scrollbar-track-piece {
  @apply bg-transparent rounded-full;
}

.scrollbar-styled::-webkit-scrollbar-button {
  @apply hidden;
}

.scrollbar-styled::-webkit-scrollbar-thumb {
  @apply bg-brand-royalblue rounded-full transition-all duration-300;
}

/* unauth/create/pass inputs */
.ant-input-affix-wrapper.ant-input-password {
  @apply relative;
}

.ant-form-item-control-input-content {
  @apply w-full;
}

.ant-form-item-control-input-content > textarea {
  @apply p-2 pl-4 w-full h-20 text-brand-graylight text-sm border rounded-lg outline-none resize-none;
}

.ant-input-affix-wrapper.ant-input-password > input {
  @apply p-2 pl-4 w-full text-brand-graylight text-sm bg-fields-input-primary border border-fields-input-border rounded-full;
}

.ant-input-suffix {
  @apply absolute right-2 text-bkg-4;
}

.ant-form-item-control-input {
  @apply relative flex items-center justify-center;
}

.ant-form-item-children-icon {
  @apply absolute right-4 top-1.5 text-bkg-4;
}

#rpc .ant-form-item-children-icon {
  @apply absolute right-4 top-0;
}

#login .ant-form-item-children-icon,
#delete .ant-form-item-children-icon,
.password .ant-form-item-children-icon {
  @apply absolute right-8 top-0.5 text-bkg-4;
}

#autolock .ant-form-item-children-icon {
  @apply absolute right-2 top-0;
}

.ant-form-item-explain.ant-form-item-explain-error {
  @apply relative;
}

div[role='alert'] {
  @apply absolute left-1/4 right-1/4 text-center text-brand-white text-base font-light;
}

.anticon.anticon-check-circle {
  @apply text-warning-success;
}

.anticon.anticon-close-circle {
  @apply text-warning-error;
}

.ant-tooltip-hidden {
  @apply hidden;
}
