@import '~assets/styles/variables';

.header {
  width: 100%;
  height: 72px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  top: 0px;
  left: 0px;
  right: 0px;
  background: $navy;

  .title {
    font-style: normal;
    font-weight: $medium;
    font-family: $roboto;
    font-size: 24px;
    line-height: 24px;
    color: $navy-light;
    text-align: center;
    flex: 1;
  }

  .logo {
    width: 50px;
    margin: 0 16px;
  }

  .button {
    color: $deepPink;

    &.back {
      margin-left: 22px;
      margin-right: 22px;
    }

    &.more {
      margin-right: 22px;
    }
  }
}
