@import '~assets/styles/variables';

.contacts {
  padding: 24px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;

  .actions {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .add {
      padding: 8px;
      width: 144px;
    }

    .export {
      background: $gray-light !important;
      color: $gray-dark !important;
      width: 144px;
      padding: 8px;
    }
  }

  ul.list {
    list-style: none;
    margin: 0;
    margin-top: 12px;
    padding: 0;
    width: 100%;

    li {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      height: 84px;
      transition: all 0.3s;
      padding: 6px 36px;
      box-sizing: border-box;

      &:hover {
        background: $gray-light-100;
      }

      .contact {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .info {
          display: flex;
          flex-direction: row;
          align-items: center;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: $gray-dark;

          div {
            display: flex;
            flex-direction: column;

            small {
              font-weight: 500;
              font-size: 12px;
              line-height: 18px;
              color: $gray-100;
              margin-top: 4px;
              width: 228px;
              text-overflow: ellipsis;
              overflow: hidden;
            }
          }
        }

        .send {
          width: 24px;
          height: 24px;
          font-size: 14px;
          color: $white;
          background: $gray-100;

          svg {
            width: 14px;
            height: 14px;
            margin-left: 2px;
          }
        }
      }
    }
  }
}
