@import '~assets/styles/variables';

.layout {
  width: 100%;
  height: 528px;
  margin-top: 72px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .heading {
    background: $navy;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 18px 34px;
    justify-content: flex-start;
    box-sizing: border-box;
    color: $navy-light;
    font-weight: bold;

    span {
      white-space: pre-wrap;
    }
  }

  .content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    padding: 36px;
    padding-bottom: 24px;
    background: $navy;

    border-bottom: 3px solid;
    border-image: 
      linear-gradient(
        to right, 
        $navy 20%, 
        $royalBlue 50%, 
        $navy 80%
      ) 10;
  }
}
