@import '~assets/styles/variables';

.layout {
  margin-top: 72px;
  height: 528px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

  .heading {
    background: $gray-light;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 18px 34px;
    justify-content: flex-start;
    box-sizing: border-box;
    color: $gray-dark;

    span {
      white-space: pre-wrap;
    }
  }

  .content {
    background: $white;
    padding: 36px;
    padding-bottom: 24px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    position: relative;
  }
}
