<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=500" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik&display=swap"
      rel="stylesheet"
    />
    <title>Pali Wallet</title>
  </head>

  <body
    class="bg-bkg-2 overflow-hidden remove-scrollbar lg:h-screen min-h-600 sm:h-600"
  >
    <div
      id="app-root"
      class="w-full sm:max-w-full md:max-w-80 lg:max-w-70 xl:max-w-60 m-auto h-popup min-w-popup lg:h-full"
    ></div>
  </body>
</html>
