<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=500" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik&display=swap"
      rel="stylesheet"
    />
    <title>Pali Wallet | External</title>
  </head>

  <body class="remove-scrollbar bg-bkg-6 overflow-hidden md:py-8 lg:h-screen">
    <script src="https://connect.trezor.io/9/trezor-connect.js"></script>
    <div id="external-root" class="w-full min-w-popup h-full min-h-popup" />
  </body>
</html>