@import '~assets/styles/variables';

.import {
  width: 100%;
  height: 468px;
  position: relative;

  .generated {
    padding: 24px 36px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: relative;

    & > span {
      margin-bottom: 24px;
      display: flex;

      b {
        font-weight: 500;
        color: $red-100;
      }
    }

    .address {
      width: 100%;
      height: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $white;
      border: 1px solid $gray-200;
      box-sizing: border-box;
      border-radius: 6px;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.03em;
      color: $gray-dark;
      cursor: pointer;
      user-select: none;
      transition: all 0.3s;

      &.copied {
        background: $purple-medium;
        color: $purple;
        border: 1px solid $purple;
      }
    }

    .actions {
      left: 0;
      justify-content: center;
    }
  }

  .warning {
    width: 100vw;
    height: 96px;
    background: $purple-light;
    display: block;
    padding: 24px 36px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: $black;
    box-sizing: border-box;
    word-wrap: break-word;

    small {
      color: $purple;
      font-weight: 500;
      line-height: 18px;
      font-size: 12px;
    }
  }

  .content {
    padding: 24px 36px;

    .select {
      display: flex;
      align-items: center;
      margin-bottom: 24px;

      .inner {
        width: 132px;
        margin-left: 12px;
      }

      & + span {
        margin-top: 0px;
      }
    }

    .textarea {
      height: 60px !important;

      textarea {
        height: 58px !important;
      }
    }

    & > span {
      margin: 18px 0px;
      font-size: 12px;
      font-weight: 500;
      color: $gray-dark;
      display: block;
    }
  }

  .actions {
    position: absolute;
    bottom: 24px;
    width: 100%;
    padding: 0 36px;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .cancel,
    .cancel:hover {
      background: $gray-light-100;
      color: $gray-dark;
    }

    .button {
      width: 144px;
    }
  }
}
