@import '~assets/styles/variables';

body {
  .start {
    width: 156px;
    position: absolute;
    bottom: 24px;
  }

  ul.generated {
    list-style: none;
    margin: 0px;
    padding: 0px;
    column-count: 2;
    width: 100%;

    li {
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 36px;
      letter-spacing: 0.03em;
      color: $gray-dark;
      border-bottom: 1px solid $gray-light;

      span {
        width: 25px;
        display: inline-block;
      }
    }
  }

  .written {
    padding: 8px;
    width: 228px;
    position: absolute;
    bottom: 24px;

    &.passed {
      width: 144px;
    }
  }

  .topzone {
    padding-top: 12px;
    padding-bottom: 12px;
    width: 100%;
    border-bottom: 1px solid $gray-light;
    min-height: 120px;
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    transition: all 0.3s;
  }

  .bottomzone {
    padding-top: 25px;
    padding-bottom: 12px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    box-sizing: border-box;
    min-height: 120px;
    transition: all 0.3s;
  }

  .phrase {
    width: 60px;
    height: 30px !important;
    padding: 0px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.03em;
    background: $gray-dark !important;
    color: $white;
    margin-bottom: 12px;
    margin-right: 12px;
    justify-content: center;
    box-shadow: none;
    border-radius: 3px;

    &.selected {
      background: $gray-light !important;
      color: $gray-dark;

      &:hover {
        background: $gray-medium;
        color: $gray-dark;
      }
    }

    &:hover {
      background: $gray-medium;
    }

    &:nth-child(4n) {
      margin-right: 0px;
    }
  }

  .validate {
    position: absolute;
    bottom: 23px;
    width: 156px;
  }

  .checked {
    margin-bottom: 36px;
    width: 84px !important;
    height: 84px !important;
    color: $purple;
  }
}
