@import '~assets/styles/variables';

.mask {
  display: flex;
  position: fixed;
  top: 72px;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba($gray-light, 0.3);
  z-index: 2;
  padding: 0px;
  transition: all 0.5s;
  opacity: 0;
  backdrop-filter: blur(10px);
  pointer-events: none;

  .modal {
    width: 100vw;
    height: 100vh;
    background: $navy;
    transition: all 0.5s;
    padding: 0px;
    transform: translateX(10px);
    box-sizing: border-box;
    opacity: 0;

    .heading {
      display: flex;
      width: 100%;
      height: 60px;
      box-sizing: border-box;
      align-items: center;
      border-bottom: 1px solid $navy;
      font-weight: 500;
      font-size: 18px;
      padding: 0 36px;
      line-height: 24px;
      color: $royalBlue-medium;

      .accLabel {
        input {
          text-align: center;
          font-size: 14px;
        }
      }

      span.title {
        display: inline-block;
        width: 198px;
        white-space: nowrap;
        margin-left: 3px;
        text-align: center;
        overflow: hidden;
        transition: all 0.3s;
        text-overflow: ellipsis;

        &.account {
          width: 228px;
        }
      }

      .editBtn {
        width: 32px;
        height: 32px;
        right: 72px;
        position: absolute;

        .icon {
          font-size: 18px;
          color: $royalBlue-medium;
          
          &:hover {
            color: $yellowGreen;
          }
        }
      }

      .navBtn {
        width: 32px;
        height: 32px;

        .icon {
          color: $deepPink;
          
          &:hover {
            color: $deepPink-100;
          }
        }

      }

      .closeBtn {
        right: 36px;
        position: absolute;
      }
    }
  }

  &.open {
    opacity: 1;
    pointer-events: initial;

    .modal {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
