@import '~assets/styles/variables';

.main {
  max-height: 468px;
  overflow: auto;

  ul.accounts {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      height: 48px;
      transition: all 0.3s;
      padding: 6px 36px;
      box-sizing: border-box;

      &:hover {
        background: $gray-light-100;
      }

      .account {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        .accInfo {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: $gray-dark;

          div {
            display: flex;
            flex-direction: column;
          }

          small {
            font-weight: 600;
            font-size: 12px;
            line-height: 18px;
            color: $gray-semi;
            margin-left: 4px;
            margin-top: 4px;
          }
        }
      }

      .moreBtn {
        color: $purple;
        width: 30px;
        height: 30px;
      }
    }
  }

  .new {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: $gray-dark;
    display: flex;
    height: 24px;
    align-items: center;
    height: 60px;
    padding: 0 36px;
    transition: all 0.3s;
    cursor: pointer;

    &:hover {
      background: $gray-light-100;
    }
  }

  .general {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: $gray-dark;
    height: 24px;
    display: flex;
    padding: 0 36px;
    height: 60px;
    align-items: center;
    transition: all 0.3s;
    cursor: pointer;

    &:hover {
      background: $gray-light-100;
    }
  }
}
