@import '~assets/styles/variables';

body {
  .newAccount {
    display: flex;
    flex-direction: column;
    padding: 0 36px;
    box-sizing: border-box;
    width: 100%;
    height: 468px;
    position: relative;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: $gray-dark;

    & > span {
      margin-top: 24px;
    }

    & > form > span {
      margin: 24px 0;
      display: flex;

      b {
        font-weight: 500;
        color: $red-100;
      }
    }

    .address {
      width: 100%;
      height: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $white;
      border: 1px solid $gray-200;
      box-sizing: border-box;
      border-radius: 6px;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.03em;
      color: $gray-dark;
      cursor: pointer;
      user-select: none;
      transition: all 0.3s;

      &.copied {
        background: $purple-medium;
        color: $purple;
        border: 1px solid $purple;
      }
    }

    .input {
      border: 1px solid $gray-200 !important;
    }

    .actions {
      position: absolute;
      bottom: 24px;
      width: calc(100% - 72px);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      &.centered {
        justify-content: center;
      }

      .close,
      .close:hover {
        background: $gray-light;
        color: $gray-dark;
      }

      .button {
        width: 144px;
      }
    }
  }
}
