@import '~assets/styles/variables';

.select {
  :global(.MuiInputBase-root) {
    background: transparent;
    border: 1px solid $royalBlue !important;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 0;
    height: 36px;
    transition: all 0.3s;
    color: $white;

    &::before,
    &::after {
      border-bottom: none !important;
    }
  }
  
  :global(.MuiSelect-select.MuiSelect-select) {
    padding-right: 37px;
  }

  :global(.MuiSelect-select) {
    box-sizing: border-box;
    height: 36px;
    display: flex;
    padding-left: 16px;
    align-items: center;
    transition: all 0.3s;
    background: transparent !important;
  }

  :global .MuiSelect-icon {
    transition: all 0.3s;
    margin-right: 6px;
    margin-top: -1px;
    color: $white;
  }

  :global .MuiSelect-iconOpen {
    transform: rotateZ(180deg);
  }
}

:global(.MuiMenu-paper) {
  box-shadow: none !important;
}

:global(.MuiMenu-list) {
  background: $navy;
  border: 1px solid $royalBlue;
  // box-sizing: border-box;
  border-radius: 6px;
  border-top-width: 0;

  :global(.MuiMenuItem-root) {
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: $white;
    font-family: $roboto;
    min-height: initial;
    height: 24px;
    transition: all 0.3s;
  }
}
