/**
 * Colors
 **/
$black: #000;
$white: #fff;

$purple: #521e8a;
$purple-medium: #c2a8de;
$purple-light: #e0d3ee;

$red: #de0c00;
$red-100: #ff3b30;

$teal: #00f1b7;

$gray: #808080;
$gray-100: #888888;
$gray-200: #c4c4c4;
$gray-light: #f5f5f5;
$gray-light-100: #ededed;
$gray-dark: #474747;
$gray-dark-100: #2f2f2f;
$gray-semi: #707070;
$gray-medium: #979797;
$gray-hover: #dedede;
$gray-disabled: #dadada;

/**
 * Shadows
 **/
$shadow-btn: 0px 1px 5px rgba(0, 0, 0, 0.25);
$shadow-tooltip: 0px 0px 5px rgba(0, 0, 0, 0.25);

/**
 * Fonts
 **/
$quicksand: 'Quicksand', sans-serif;
$inter: 'Inter', sans-serif;

/**
 * Font weights
 **/
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;

/**
 * Other variables
 **/
.d-none {
  display: none !important;
}
