@import './variables';

:global body {
  margin: 0px;
  padding: 0px;
  font-family: $roboto !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  user-select: none !important;

  section#app {
    min-height: 300px;
    display: flex;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: fixed;
    align-items: center;
    background: none;
    justify-content: center;
  }

  // Font styles
  .heading-1 {
    font-family: $roboto;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    margin: 0px;
  }

  .heading-start {
    margin: 0;
    font-weight: bold;
    font-size: 2.7rem;
    font-family: $roboto;
    text-align: center;
    letter-spacing: 0.1em;
    line-height: 0.2em;
    color: $royalBlue;

    p {
      text-align: center;
      color: $navy-light;
      font-size: 1rem;
      font-weight: $regular;
      letter-spacing: 0.5em;
      text-transform: uppercase;
    }
  }

  .body-caption {
    font-family: $roboto;
    font-weight: $medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.03em;
  }

  .body-description {
    font-family: $roboto;
    font-weight: $regular;
    text-align: justify;
    font-size: 16px;
    line-height: 24px;
    color: $white;
  }

  .body-comment {
    font-family: $roboto;
    font-size: 0.8rem;
    font-weight: $regular;
    font-style: normal;
    text-align: justify;
    line-height: 24px;
    color: $white;
  }

  // Font families
  .t-roboto {
    font-family: $roboto;
  }

  // Font Weights
  .tw-medium {
    font-weight: $medium;
  }
  .tw-regular {
    font-weight: $regular;
  }

  // Text styles
  .t-white {
    color: $white;
  }
  .t-navy {
    color: $navy;
  }
  .t-navy-medium {
    color: $navy-medium;
  }
  .t-navy-light {
    color: $navy-light;
  }
  .t-royalBlue {
    color: $royalBlue;
  }
  .t-yellowGreen {
    color: $yellowGreen;
  }
  .t-gray-dark {
    color: $gray-dark;
  }
  .t-gray-medium {
    color: $gray-100;
  }
  .t-gold {
    color: $gold;
  }

  // Background styles
  .b-white {
    background: $white;
  }
  .b-navy {
    background: $navy;
  }
  .b-yellowGreen {
    background: $yellowGreen;
  }

  // Other styles
  .full-width {
    width: 100%;
    display: block;
  }
  .mt-30 {
    margin-top: 30px;
  }
  .mb-30 {
    margin-bottom: 30px;
  }
  .ml-30 {
    margin-left: 30px;
  }
  .mr-30 {
    margin-right: 30px;
  }
}
