@tailwind base;
@tailwind components;
@tailwind utilities;

.add-identicon svg {
  @apply rounded-full;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.remove-scrollbar::-webkit-scrollbar {
  display: none;
}

.remove-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-styled::-webkit-scrollbar {
  @apply w-1;
}

.scrollbar-styled::-webkit-scrollbar-track-piece {
  @apply bg-transparent rounded-full;
}

.scrollbar-styled::-webkit-scrollbar-button {
  @apply hidden;
}

.scrollbar-styled::-webkit-scrollbar-thumb {
  @apply rounded-full bg-brand-royalblue transition-all duration-300;
}

/* unauth/create/pass inputs */
.ant-input-affix-wrapper.ant-input-password {
  @apply relative;
}

#basic_password,
#basic_repassword {
  @apply w-72 rounded-full p-2 pl-4 bg-bkg-1 border border-bkg-4 text-brand-graylight text-sm outline-none focus:border-bkg-4;
}

#phraseview_password {
  @apply bg-bkg-3 w-60 outline-none;
}

#phraseview .ant-form-item-children-icon {
  @apply absolute right-8 text-bkg-4 -top-1;
}

#delete_password {
  @apply bg-bkg-3 w-60 outline-none;
}

#delete .ant-form-item-children-icon {
  @apply absolute right-8 text-bkg-4 -top-1;
}

.ant-input-suffix {
  @apply absolute right-2 text-bkg-4;
}

.ant-form-item-control-input {
  @apply relative max-w-input flex justify-center items-center mx-auto;
}

.ant-form-item-children-icon {
  @apply absolute right-10 text-bkg-4 top-0;
}

#send .ant-form-item-children-icon {
  @apply absolute right-2 text-bkg-4 top-1;
}

#rpc .ant-form-item-children-icon {
  @apply absolute right-2 top-1.5;
}

#site .ant-form-item-children-icon {
  @apply absolute right-1 text-bkg-4 top-1;
}

#autolock .ant-form-item-children-icon {
  @apply absolute right-2 text-bkg-4 top-0;
}

.ant-form-item-explain.ant-form-item-explain-error {
  @apply relative;
}

div[role='alert'] {
  @apply text-brand-white text-base font-light text-center absolute left-1/4 right-1/4;
}

.anticon.anticon-check-circle {
  @apply text-warning-success;
}

.anticon.anticon-close-circle {
  @apply text-warning-error;
}

.ant-tooltip-hidden {
  @apply hidden;
}
