@import '~assets/styles/variables';

.phrase {
  display: flex;
  flex-direction: column;
  padding: 0 36px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;

  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: $gray-dark;

  & > span {
    margin: 24px 0;
  }

  .seed {
    background: $white;
    border: 1px solid $gray-200;
    box-sizing: border-box;
    border-radius: 6px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 72px;
    word-wrap: break-word;
    padding: 0 20px;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    transition: all 0.3s;
    cursor: pointer;
    user-select: none;

    &.notAllowed {
      cursor: no-drop;
    }

    &.copied {
      cursor: initial;
      background: $purple-medium;
      color: $purple;
      border: 1px solid $purple;
    }
  }

  .input {
    border: 1px solid $gray-200 !important;
  }
}
