// Auth / Phrase
@import '~assets/styles/variables';

.phrase {
  display: flex;
  flex-direction: column;
  padding: 0 36px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;

  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: $white;

  & > span {
    margin: 24px 0;

    b {
      font-weight: 500;
      color: $deepPink;
    }
  }

  .seed {
    width: 100%;
    height: 72px;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    line-height: 24px;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 0 20px;
    word-wrap: break-word;
    transition: all 0.3s;
    cursor: pointer;
    user-select: none;
    box-sizing: border-box;
    border-radius: 6px;
    border: 1px solid $deepPink;
    background: $navy-border;

    &.notAllowed {
      cursor: no-drop;
    }

    &.copied {
      cursor: initial;
      background: $navy-medium;
      color: $navy;
      border: 1px solid $navy;
    }
  }

  .input {
    border: 1px solid $gray-200 !important;
  }
}
