@import '~assets/styles/variables';

.link {
  text-decoration: none;
  font-style: normal;
  font-weight: $medium;
  font-size: 1rem;
  font-family: $roboto;
  // line-height: 1em;

  &:hover {
    text-decoration: underline;
  }

  &.noUnderline {
    &:hover {
      text-decoration: none;
    }
  }

  &.primary {
    color: $navy;
  }

  &.secondary {
    color: $yellowGreen;
  }

  &.tertiary {
    color: $deepPink;
  }
}
