@import '~assets/styles/variables';

.wrapper {
  section.subheading {
    height: 60px;
    width: 100%;
    margin-top: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    background: $navy;
    color: $royalBlue-medium;
  }

  section.content {
    padding: 4em;
    height: 468px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: $navy;

    border-bottom: 3px solid;
    border-image: 
      linear-gradient(
        to right, 
        $navy 20%, 
        $royalBlue 50%, 
        $navy 80%
      ) 10;

    .address {
      width: 100%;
      height: 80%;
      border: 1px solid $deepPink;
      box-sizing: border-box;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      word-break: break-all;
      text-align: center;
      padding: 3em;
      background: $navy-darker;

      font-weight: $light;
      font-size: 1rem;
      line-height: 18px;
      color: $white;

      .qrcode {
        margin: 1em;
      }
    }

    .copy {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;

      .iconBtn {
        background: $royalBlue;
        width: 48px;
        height: 48px;
        margin-top: 18px;
        transition: all 0.3s;
  
        & ~ span {
          font-weight: 500;
          font-size: .8rem;
          margin-top: .5rem;
          align-items: center;
          transition: all 0.3s;
          color: $royalBlue;
    
          &.active {
            color: $deepPink-100;
          }
        }
  
        &:hover {
          background: $royalBlue-medium;
        }
  
        &.active {
          background: $deepPink;
        }
  
        .icon {
          color: $white;
          font-size: 1.5rem;
        }
      }
    }

  }
}

.spinner {
  width: 20px !important;
  height: 20px !important;
  margin-right: 10px;
  color: $deepPink;

  svg {
    width: 20px;
    height: 20px;
  }
}
