@import '~assets/styles/variables';

body {
  .tooltip {
    background: $gray-dark;
    opacity: 0.95;
    box-shadow: $shadow-tooltip;
    font-family: $quicksand;
    border-radius: 3px;
    margin-top: 5px;
    padding: 6px 12px;
  }

  .arrow {
    color: $gray-dark;
    width: 14px;
    height: 10px;
    margin-top: -10px !important;
  }
}
