<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=500" />

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <title>Pali Wallet</title>
   
    <!-- <style>
      #app-root {
        width: 100%;
        max-width: 600px;
        height: 600px;
        min-width: 372px;
        scrollbar-width: none;
      }
      body {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
        background-color: #122036;
      }
      body::-webkit-scrollbar {
        display: none;
      }
    </style> -->
  </head>
  
  <body class="bg-brand-navy">
    <div id="app-root" class="w-full max-w-popup h-popup min-w-popup"></div>
  </body>
</html>
