@import '~assets/styles/variables';

.home {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  min-height: 100%;
  background: $navy;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 36px;
  box-sizing: border-box;
  border-style: solid;
  border-width: 2px 0;
  border-image: 
    linear-gradient(
      to right, 
      $navy 20%, 
      $royalBlue 50%, 
      $navy 80%
    ) 10;

  .logo {
    margin-top: 36px;
    margin-bottom: 48px;
    width: 170px;
  }

  .error {
    width: 100%;
    padding: .5rem 0;
    bottom: 230px;
    position: absolute;
    font-size: .8rem;
    font-weight: $regular;
    text-align: center;
    // width: calc(100% - 112px);
    color: $white;
    background: $deepPink;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    .password {
      margin-bottom: 36px;
    }

    .unlock {
      margin-bottom: 30px;
    }
  }
}
