/** 
  * Fonts 
**/
$roboto:'Roboto', sans-serif;

/**
 * Font weights
 **/
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;



/**
 * Colors
**/

$black: #000;
$white: #fff;

$navy: #122036; 
$navy-darker: #111E33;
$navy-dark: #1B2E4D;
$navy-medium: #1E365C;
$navy-light: #233F6C;

$navy-border: #162742;

$royalBlue: #4D76B8;
$royalBlue-medium: #4CA1CF;

$deepPink: #CB2C70;
$deepPink-100: #FF3E91;

$yellowGreen: #7D992E;

$gold: #FF9900;

$gray: #808080;
$gray-100: #888888;
$gray-200: #c4c4c4;
$gray-light: #f5f5f5;
$gray-light-100: #ededed;
$gray-dark: #474747;
$gray-dark-100: #2f2f2f;
$gray-semi: #707070;
$gray-medium: #979797;
$gray-hover: #dedede;
$gray-disabled: #dadada;



/**
 * Shadows
 **/
$shadow-btn: 0px 1px 5px rgba(0, 0, 0, 0.25);
$shadow-tooltip: 0px 0px 5px rgba(0, 0, 0, 0.25);


/**
 * Other variables
 **/
.d-none {
  display: none !important;
}
