@import '~assets/styles/variables';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  width: 100%;
  height: 100%;

  section.subheading {
    height: 60px;
    width: 100%;
    margin-top: 72px;
    border-bottom: 1px solid $gray-100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: $gray-dark;
  }

  section.txAmount {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: $gray-dark;

    small {
      font-size: 10px;
      line-height: 10px;
      margin-top: 2px;
      margin-left: 4px;
    }

    .iconWrapper {
      width: 24px;
      height: 24px;
      background: $purple;
      border-radius: 50%;
      color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      margin-right: 12px;

      svg {
        font-size: 16px;
      }
    }
  }

  .row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    box-sizing: border-box;
    padding: 0 36px;
    color: $gray-dark;
    height: 60px;
    width: 100%;
    border-top: 1px solid $gray-light;

    span {
      font-size: 12px;
      line-height: 18px;
      color: $gray-100;
    }

    &:nth-last-child(1) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  section.transaction {
    width: 100%;
    height: 192px;
    box-sizing: border-box;
    padding: 0;
  }

  .confirm {
    width: 100%;
    height: 264px;
    background: $gray-light;
    box-sizing: border-box;
    padding: 0;

    & > .row {
      border-bottom: 1px solid $white;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      span {
        font-size: 16px;
      }
    }

    .actions {
      display: flex;
      position: absolute;
      width: 300px;
      bottom: 24px;
      padding: 0 36px;
      justify-content: space-between;

      .close {
        background: $gray-light;
        color: $gray-dark;
      }

      .button {
        width: 144px;
      }
    }
  }
}

.checked {
  margin-bottom: 36px;
  width: 84px !important;
  height: 84px !important;
  color: $purple;
}

.next {
  position: absolute !important;
  bottom: 24px;
  width: 156px;
}
