@import '~assets/styles/variables';

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  background: $navy;

  section.subheading {
    height: 60px;
    width: 100%;
    margin-top: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-weight: 600;
    font-size: 1.3rem;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    background: $navy;
    color: $royalBlue;
  }

  .confirmTransactionOnSite {
    text-align: center;
    color: $gray-dark;
    font-size: 20px;
  }

  section.txAmount {
    height: 60px;
    width: 100%;
    margin-top: 1em;
    padding: .3em 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 24px;
    color: $white;
    // background: tomato;

    border-bottom: 1px solid;
    border-image: 
      linear-gradient(
        to right, 
        $navy 20%, 
        $royalBlue 50%, 
        $navy 80%
      ) 10;

    small {
      font-size: 10px;
      line-height: 10px;
      margin-top: 2px;
      margin-left: 4px;
      background: green;
    }

    .iconWrapper {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      margin-right: 12px;
      background: $royalBlue;
      color: $white;

      svg {
        font-size: 16px;
      }
    }
  }

  .row {
    width: 100%;
    height: 55px;
    box-sizing: border-box;
    padding: 0 36px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: $royalBlue;

    border-left: 1px solid;
      border-image: 
        linear-gradient(
          0deg,
          $navy 20%, 
          $deepPink 50%, 
          $navy 80%
        ) 10;


    & p {
      margin: 0;
      padding: 0;
    }

    span {
      font-size: 12px;
      line-height: 18px;
      color: $white;
    }
  }

  section.transaction {
    width: 100%;
    height: 192px;
    box-sizing: border-box;
    padding: 0;
    margin: 1em 0 2em 0;
    background: $navy;
  }

  .confirm {
    width: 100%;
    height: 20em;
    box-sizing: border-box;
    padding: 0;
    background: $navy;

    border-bottom: 3px solid;
    border-image: 
      linear-gradient(
        to right, 
        $navy 20%, 
        $royalBlue 50%, 
        $navy 80%
      ) 10;


    & > .row {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      span {
        font-size: 16px;
      }
    }

    .actions {
      display: flex;
      position: absolute;
      width: 300px;
      bottom: 24px;
      padding: 0 36px;
      justify-content: space-between;

      .button {
        width: 144px;
      }
    }
  }
}

.checked {
  margin-bottom: 36px;
  width: 84px !important;
  height: 84px !important;
  color: $navy;
}

.next {
  position: absolute !important;
  bottom: 24px;
  width: 156px;
}
