@import '~assets/styles/variables';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  width: 100%;
  height: 100%;

  section.subheading {
    height: 60px;
    width: 100%;
    margin-top: 72px;
    border-bottom: 1px solid $gray-100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: $gray-dark;
  }

  section.balance {
    width: 100%;
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 12px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 18px;
    color: $gray-dark;

    span {
      font-size: 16px;
    }
  }

  .input {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    height: 48px;
    padding: 0 16px;
    background: $white;
    transition: all 0.3s;

    input {
      text-overflow: ellipsis;
      overflow: hidden;
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      transition: all 0.3s;
    }

    &.amount {
      input {
        padding-right: 48px;
      }
    }

    &.fee {
      input {
        padding-right: 92px;
      }
    }
  }

  section.content {
    width: 100%;
    height: 408px;
    box-sizing: border-box;
    padding: 0 36px;
    padding-bottom: 24px;
    position: relative;

    ul.form {
      list-style: none;
      margin: -12px;
      padding: 12px;
      border-radius: 10px;
      background: $gray-light;

      li {
        height: 56px;
        position: relative;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        margin-bottom: 12px;
        align-items: flex-start;

        &:last-child {
          border-bottom: none;
          margin-bottom: 0;
        }

        label {
          font-weight: 500;
          font-size: 10px;
          line-height: 12px;
          margin-bottom: 8px;
          margin-left: 16px;
          text-transform: uppercase;
          color: $gray-dark;
        }

        .textBtn {
          background: transparent;
          min-width: initial;
          position: absolute;
          box-shadow: none;
          top: 26px;
          right: 8px;
          height: 22px !important;
          font-weight: 500;
          font-size: 10px;
          color: #521e8a;
          padding: 12px;
          width: fit-content;
          text-transform: uppercase;
        }

        .address {
          padding-right: 94px;

          &.verified {
            color: $purple;

            input {
              padding-left: 15px;
            }
          }
        }

        .statusIcon {
          position: absolute;
          opacity: 1;
          top: 32px;
          left: 12px;
          z-index: 1;
          transform: scale(1);
          transition: all 0.3s;

          &.hide {
            opacity: 0;
            transform: scale(0);
          }
        }
      }
    }

    .status {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-top: 24px;
      justify-content: space-between;

      .equalAmount {
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        color: $gray-100;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 300px;
        display: block;
      }

      .error {
        font-weight: 500;
        font-size: 12px;
        line-height: 12px;
        color: $red;
      }
    }

    .description {
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      color: $gray-dark;
      margin-top: 24px;
    }

    .actions {
      display: flex;
      position: absolute;
      width: 300px;
      bottom: 24px;
      justify-content: space-between;

      .close {
        background: $gray-light;
        color: $gray-dark;
      }

      .button {
        width: 144px;
      }
    }
  }
}
