@import '~assets/styles/variables';

.toast {
  background-color: $purple;
  width: 365px;
  box-sizing: border-box;
  padding: 12px;
  border-radius: 6px;
  color: $white;
  font-family: $inter;
  font-weight: 500;
  display: flex;
  align-items: center;
  min-height: 40px;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.35px;

  &.error {
    background-color: $red-100;
  }

  .icon {
    margin-right: 12px;
    width: 18px;
    height: 18px;
  }
}

:global(div#__react-alert__) {
  & > div {
    z-index: 9999 !important;
  }
}
