@import '~assets/styles/variables';

.background {
  z-index: 19;
  background-color: rgba(0,0,0,0.6);
  width: 100%;
  position: absolute;
  top: 0;
  height: 100%;
  transition: .3s all;
}

.modal {
  width: 70%;
  top: 50px;
  z-index: 20;
  transition: .3s all;
  position: absolute;
  padding: 1rem 2rem;
  border-radius: 1rem;
  border: 1px solid $deepPink;
  font-size: .8rem;
  color: $royalBlue-medium;
  font-family: 'Poppins', sans-serif;
  background-color: $navy-darker;

  margin-top: 1em;

  .close {
    padding: .6rem;
    display: flex;
    justify-content: flex-end;

    button {
      width: 98%;
      height: 2rem;
      color: $deepPink;
      border: 1px solid transparent;
      border-radius: 2rem;
      background-image: 
        linear-gradient(
          rgba(255, 255, 255, 0), 
          rgba(255, 255, 255, 0)), 
          linear-gradient(
            30deg, 
            #8C1F4E 10%,
            $deepPink-100 50%
          );
        background-origin: border-box;
        background-clip: content-box, border-box;
        box-shadow: 2px 1000px 1px $navy inset;

      cursor: pointer;
      font-weight: bold;
      margin: .5rem 0 0;
      transition: .3s all;
      outline: none;

      &:hover {
        box-shadow: none;
        color: white;
      }

      &:active {
        transform: scale(0.95);
      }
    }
  }

  .title {
    // margin-bottom: .5rem;
    padding: 1rem 0 .5rem 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: $royalBlue-medium;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid;
    border-image: 
      linear-gradient(
        to right, 
        $navy 20%, 
        $royalBlue 50%, 
        $navy 80%
      ) 10;
  }

  .account {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .9rem;
    transition: .3s all;
    cursor: pointer;
    border-radius: .5rem;

    .data {
      display: flex;
      flex-direction: column;

      p {
        margin: 0;
      }

      small {
        font-size: 12px;
      }
    }
    
    img {
      &:hover {
        color: $gray-dark;
      }
    }
  }

  .permissions {
    opacity: 70%;

    & > p {
      font-weight: bold;
      margin-bottom: .3rem;
      padding-bottom: .2rem;
      border-bottom: 1px solid rgb(230, 230, 230);
    }

    & > div > small {
      cursor: not-allowed;
    }
  }
}