@import '../../../assets/styles/variables';

.container {
  width: 100%;
  min-width: 372px;
  max-width: 600px;
  height: 600px;
  font-size: 20px;
  min-width: 372px;
  display: flex;
  position: relative;
  padding: 0px;
  margin: 0px;
  align-items: center;
  justify-content: center;
}
