@import 'assets/styles/variables';

body {
  margin: 0;
  font-family: 
    -apple-system, 
    BlinkMacSystemFont, 
    'Segoe UI', 
    'Roboto', 
    'Oxygen', 
    'Ubuntu', 
    'Cantarell', 
    'Fira Sans',
    'Droid Sans', 
    'Helvetica Neue', 
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: $navy;

  border-bottom: 5px solid;
    border-image: 
      linear-gradient(
        to right, 
        #122036 20%, 
        #4D76B8 50%, 
        #122036 80%
      ) 10;
}

.app {
  text-align: center;
  
  &__title {
    font-size: 2rem;
    margin: 3rem 0;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background: $navy;

  &__logo {
    width: 5rem;
    height: 5rem;
    cursor: pointer;
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
  }

  &__balance {
    font-weight: normal;
    padding: 0.5rem;
    font-size: 19px;
    border: 2px solid rgb(32, 60, 104);
    background-color: rgba(0, 0, 0, 0);
    transition: 0.3s all;
    border-radius: 1rem;
    padding: 0.5rem;
    font-weight: bold;
    cursor: pointer;
  
  }
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

input {
  padding: 1rem;
  border-radius: 1rem;
  border: 2px solid rgb(206, 206, 206);
  margin: .5rem;
  outline: none;

  &:focus {
    border: 2px solid gray;
  }
}

.button {
  border: 2px solid rgb(32, 60, 104);
  background-color: rgba(0, 0, 0, 0);
  transition: 0.3s all;
  border-radius: 1rem;
  padding: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  color: rgb(32, 60, 104);
  margin: .5rem;

  &:hover {
    background-color: rgb(196, 211, 235);
  }

  &:disabled {
    border: 2px solid rgb(140, 140, 140);
    background-color: rgb(223, 223, 223);
    color: rgb(140, 140, 140);
  }
}

.table {
  width: 80%;
  font-size: 1rem;
  text-align: center;
  margin: 2rem auto;
}
.button-2 {
  border: 2px solid rgb(32, 60, 104);
  background-color: rgba(0, 0, 0, 0);
  transition: 0.3s all;
  border-radius: 1rem;
  padding: 0.44rem;
  font-weight: bold;
  cursor: pointer;
  color: rgb(32, 60, 104);
  margin: .5rem;
  width: 22%;
  position:relative;
  left: -5px;
    top: 20px;
}

.form {
  position:relative;
    top: 30px;
}
.collection {
  position:relative;
  top: 5px;
}
.property {
  position:relative;
  top: 7px;
}
.tres {
  position:relative;
  top: 7px;
  width:800px;
  height:800px;
  border: 25px solid; /* As 4 bordas sólidas com 25px de espessura */
  border-color: rgb(32, 60, 104);
  }
  .iframe {
 position: relative;
 width: 560px;
 height: 370px;
  } 
  .info_property{
    position:relative;
  top: 7px;
  left: 75px;
  }
  

