body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.app {
  text-align: center;
  
  &__title {
    font-size: 2rem;
    margin: 3rem 0;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;

  &__logo {
    width: 5rem;
    height: 5rem;
    cursor: pointer;
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
  }

  &__buttonConnect, &__balance {
    border: 2px solid rgb(32, 60, 104);
    background-color: rgba(0, 0, 0, 0);
    transition: 0.3s all;
    border-radius: 2.2rem;
    padding: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    color: rgb(32, 60, 104);
  }

  &__balance {
    font-weight: normal;
    padding: 0.5rem;
    font-size: 19px;
  }
}

.table {
  width: 80%;
  font-size: 1rem;
  text-align: center;
  margin: 2rem auto;
}
