@import '~assets/styles/variables';

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .pass {
    margin-bottom: 12px;
  }

  .comment {
    margin-top: 12px;
  }

  .next {
    width: 156px;
    position: absolute;
    bottom: 24px;
  }

  .checked {
    margin-bottom: 36px;
    width: 84px !important;
    height: 84px !important;
    color: $purple;
  }

  .warning {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.03em;
    margin-top: 12px;
    width: 100%;
    color: $gray-100;
  }

  .error {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.03em;
    width: 100%;
    margin-top: 12px;
    color: $red;
  }
}
