@import '~assets/styles/variables';

.importForm {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  margin: -12px 0;

  & > span {
    margin: 24px 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: $gray-dark;
    display: block;

    &.password {
      margin-top: 0;
    }
  }

  .input {
    textarea {
      text-align: center;
      word-wrap: break-word;
      font-weight: 500;
      font-size: 12px;
      line-height: 24px;
    }
  }

  .actions {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .button {
      width: 144px;
    }
  }
}
