@import '~assets/styles/variables';

body {
  .removeAccount {
    display: flex;
    flex-direction: column;
    padding: 0 36px;
    box-sizing: border-box;
    width: 100%;
    height: 468px;
    position: relative;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: $gray-dark;

    .subheading {
      display: flex;
      flex-direction: column;
      margin-top: 24px;
      width: 100%;
      padding: 0;
      box-sizing: border-box;
      align-items: flex-start;

      div {
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 24px;
        color: $gray-dark;
      }

      .address {
        width: 100%;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $white;
        border: 1px solid $gray-200;
        box-sizing: border-box;
        border-radius: 6px;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: $gray-dark;
        user-select: none;
        transition: all 0.3s;
      }
    }

    & > form > span {
      margin: 24px 0;
      display: inline-block;

      b {
        font-weight: 500;
        color: $red-100;
      }
    }

    .input {
      border: 1px solid $gray-200 !important;
    }

    .actions {
      position: absolute;
      bottom: 24px;
      width: calc(100% - 72px);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .close,
      .close:hover {
        background: $gray-light;
        color: $gray-dark;
      }

      .button {
        width: 144px;
      }
    }
  }
}
