on:
  pull_request:
    types: [opened, synchronize]

jobs:
  test:
    name: test and lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
          check-latest: true
      - run: yarn install
      - run: yarn lint
