@import '~assets/styles/variables';

.home {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  text-align: center;
  background: $navy;

  // falta ajustar
  .error {
    color: tomato;
    font-size: 1rem;
    position: absolute;
    width: calc(100% - 112px);
    bottom: 132px;
  }

  .accounts, .confirm {
    width: 90%;
    min-height: 200px;
    max-height: 210px;
    border-radius: 6px;
    text-align: center;
    // background-image: 
    //     linear-gradient(
    //       rgba(255, 255, 255, 0), 
    //       rgba(255, 255, 255, 0)), 
    //       linear-gradient(
    //         180deg, 
    //         $navy 40%, 
    //         $navy-border 50%
    //       );

    & > p {
      color: $royalBlue;
      font-size: 1rem;
      font-weight: bold;
    }
  }

  .confirm {
    min-height: 100px;
    max-height: 210px;
  }

  .buttons {
    position: absolute;
    bottom: 35px;
    right: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  & > h1 {
    font-size: 1.2rem;
    color: $royalBlue;
    margin-top: -30px;

    & > b {
      color: $royalBlue-medium;
    }
  }

  .cancel {
    margin-right: 1rem;
  }

  & > small {
    position: absolute;
    bottom: 90px;
    padding: 3px;
    font-size: .8rem;
    color: $royalBlue;

    a {
      color: $deepPink-100;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  & > p {
    font-size: 1rem;
    color: $royalBlue;
  }

  ul.options {
    margin: 0;
    padding: 0;
    list-style: none;
    backdrop-filter: blur(10px);
    overflow: auto;
    max-height: 170px;
    z-index: 1;
    margin: .5em 0 .5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $navy;
  
    li {
      width: 90%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 300ms;
      font-weight: 500;
      height: 40px;
      border-radius: 6px;
      margin: 2px 5px;
      cursor: pointer;
      font-size: 1rem;
      color: $white;

      &:active {
        background: rgb(214, 214, 214);
      }

      &:hover {
        background: $navy-dark;
      }

      &:focus {
        background: rgb(214, 214, 214);
      }

      & > small {
        margin-left: 5px;
      }
    }
  }
}