@import '~assets/styles/variables';

.wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  text-align: center;
  background: $navy;

  .loading {
    margin-top: 0.5rem;
  }

  border-bottom: 3px solid;
  border-image: linear-gradient(to right, $navy 20%, $royalBlue 50%, $navy 80%) 10;

  // falta ajustar
  .error {
    color: tomato;
    font-size: 1rem;
    position: absolute;
    width: calc(100% - 112px);
    bottom: 132px;
  }

  .list {
    width: 75%;
    border-radius: 6px;
    text-align: center;
    overflow: auto;
    margin: 0;
    margin-bottom: 2rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    overflow-x: auto;
    overflow-y: hidden;
    
    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track-piece {
      background-color: #f1f1f1;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-button {
      display: none;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: #c9c9c9;
      transition: all 0.3s;
    }

    & > p {
      color: white;
      font-size: 16px;
      font-weight: bold;
    }
  }

  .listAccounts, .changeAccounts {
    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track-piece {
      background-color: #f1f1f1;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-button {
      display: none;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: #c9c9c9;
      transition: all 0.3s;
    }

    & > p {
      color: white;
      font-size: 16px;
      font-weight: bold;
    }
  }

  .listAccounts {
    width: 75%;
    border-radius: 6px;
    text-align: center;
    overflow: auto;
    margin: 0;
    padding: 0;
    height: 180px;
    overflow-x: auto;
    padding: 0rem 0 0 0;
    overflow-y: auto;
  }

  .changeAccounts {
    width: 100%;
    border-radius: 6px;
    text-align: center;
    overflow: auto;
    margin: 0;
    padding: 0;
    height: 320px;
    overflow-x: hidden;
    padding: 0rem 0 0 0;
    overflow-y: auto;
  }
  
  .accounts,
  .confirm {
    width: 100%;
    min-height: 200px;
    max-height: 210px;
    text-align: center;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
      linear-gradient(0deg, $navy-darker 40%, $navy 70%);

    & > p {
      color: $royalBlue;
      font-size: 0.8rem;
      font-weight: $regular;

      & ~ p {
        color: $white;
      }
    }
  }

  .actions {
    position: absolute;
    bottom: 24px;
    width: calc(100% - 72px);
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 15px;

    &.centered {
      justify-content: center;
    }

    .button {
      width: 144px;
    }
    justify-content: space-evenly;
    text-decoration: none;
  }

  & > h1 {
    font-size: 1.2rem;
    color: $royalBlue;
    margin-top: -30px;

    & > b {
      color: $royalBlue-medium;
    }
  }

  .cancel {
    margin-right: 1rem;
  }

  & > small {
    position: absolute;
    bottom: 90px;
    padding: 3px;
    font-size: 0.8rem;
    color: $royalBlue;

    a {
      color: $deepPink;
      text-decoration: none;

      &:hover {
        color: $deepPink-100;
        text-decoration: underline;
      }
    }
  }

  & > p {
    margin: 0.3rem;
    font-size: 1rem;
    color: $deepPink-100;

    & ~ p {
      color: $royalBlue;
    }
  }

  .account {
    width: 75%;
    margin: 15px 15px 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
    border: 1px solid #e2e2e2;
    cursor: pointer;
    padding: 0.7rem 1rem;
    background-color: #f5f5f5;
    border-radius: 6px;

    &:hover {
      background-color: #f0f0f0;
    }

    .label {
      display: flex;
      flex-direction: column;
      text-align: left;

      & > p {
        margin: 0 0 0.2rem 0;
      }

      & > small {
        font-size: 12px;
      }
    }
  }

  ul.options {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: auto;
    max-height: 170px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;

    li {
      width: 99%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 300ms;
      font-weight: 500;
      height: 40px;
      border-radius: 6px;
      margin: 2px 5px;
      cursor: pointer;
      font-size: 1rem;
      color: $white;

      &:hover {
        color: $deepPink;
        border-style: solid;
        border-width: 0 1px 0 1px;
        border-image: linear-gradient(0deg, $navy 20%, $deepPink 50%, $navy 80%) 10;
      }

      &:focus {
        background: $navy-dark;
      }

      &:active {
        color: $deepPink-100;
        transform: scale(0.95);
      }
    }
  }

  .connectedTitle {
    color: white;
    margin-top: -40px;
    margin: 0 2rem 1rem;

    & > p {
      font-size: 1.4rem;
      font-weight: bold;
    }

    & > small {
      font-size: 0.8rem;
    }
  }
}
